*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #ffffff;
  --secondary: #cddcf3;
  --accent: #b8b5b0;
  --background: #f5f7fa;
  --text-base: #000000;

  /* NAVBAR */
  --navbar-bg: #0a1e3d;
  --navbar-text: #ffffff;
  --navbar-primary: #0d8a82;
  --navbar-primary-hover: #96bdbd;

  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
}

/* fonts and typography */
html {
  font-size: 16px; 
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  line-height: 1.5;
  color: var(--text-base);
  background-color: var(--background);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*better html compoenents */
button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit; 
}
.button-primary {
  background-color: var(--navbar-bg);
  color: var(--navbar-text);
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.button-primary:hover {
  background-color: var(--navbar-primary-hover);
  transform: translateY(-1px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: var(--navbar-text);
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea {
  font: inherit;
  width: 100%;
}


.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--space-md);
}

.inputBaseStyle {
  padding: 0.6rem;
  border: 1px solid var(--accent);
  border: 4px;
  background: var(--primary);
  color: var(--text-base);
  width: 100%;
  outline: none;
}
