.dashboard-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  padding: var(--space-lg);
  gap: var(--space-lg);
  background-color: var(--primary); 
  overflow: hidden;
}

.dashboard-container {
  flex: 1;
  height: 100%;
  overflow-y: auto;
}

.custom-dropdown-wrapper {
  width: 320px;
  background: #f9f9f9; 
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #e5e7eb; 
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.02);
}

.dropdown-trigger {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #364355cc; 
  padding: 0 16px;
  border-radius: 10px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  min-height: 40px;
  transition: all 0.2s ease;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.dropdown-trigger:hover {
  background-color: #000000;
  transform: translateY(-1px);
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  margin-top: 8px;
  padding: 6px;
  gap: 4px;
  list-style: none; 
}
.dropdown-item {
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: all 0.15s ease;
  display: flex;
  align-items: center;
}

.dropdown-item:hover {
  background-color: var(--navbar-primary-hover); 
  color: #8a83b1;
  font-weight: 600px;
  padding-left: 18px; 
}

.dropdown-item.selected {
  background-color: #434a53;
  color: white;
  font-weight: 700;
}

.dropdown-icon {
  font-size: 1.3rem;
  transition: transform 0.3s ease;
}

.dropdown-icon.open {
  transform: rotate(180deg);
}